# In The Name Of ALLAH 
- Scrapping The Datatable of https://www.worldometers.info/coronavirus/

## Imports 
- Selenium to get the website content by web driver
- BeutifulSoup to scrap the data from the Html content
- time to simulate in specific time {Showing Us before its implement}
- Pandas to save the data scrapped as a CSV

In [1]:
# selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
#bs
from bs4 import BeautifulSoup
from bs4 import element
# time
import time
# Pandas
import pandas as pd

## Creating The Driver and adding the Browser driver options

In [2]:
# Options 
#Options = webdriver.ChromeOptions()
#Options.add_argument('--ignore-certificate-error')
#Options.add_argument('--incognitio')
#Options.add_argument('--headless')
#driver = webdriver.Chrome(options= Options)
chromeOption = Options()
#chromeOption.add_argument('--kiosk')
driver = webdriver.Chrome(options= chromeOption)

# Open the Site to Scrap it

In [3]:

driver.get('https://www.worldometers.info/coronavirus/')

In [ ]:
#if you need to getting the data of yesterday

## Getting the Table Content

In [8]:
PGsrc = driver.page_source
PageSrc = BeautifulSoup( PGsrc , "lxml")
HtmlTable =PageSrc.find(id ='main_table_countries_today')

In [13]:
PGsrc = driver.page_source
PageSrc = BeautifulSoup( PGsrc , "lxml")
HtmlTable =PageSrc.find(id ='main_table_countries_yesterday')

In [14]:
# HtmlTable.prettify() show the content of TableHtml

## Scrapping The Thead to get the attributes names
- Getting table headers as list
- trying to extract the strings from them

In [15]:

Covid_headers = HtmlTable.thead.find_all('th')
Covid_headers

[<th aria-controls="main_table_countries_yesterday" aria-label="Country,Other: activate to sort column descending" aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" style="width: 101px;" tabindex="0" width="100">Country,<br/>Other</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="TotalCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="20">Total<br/>Cases</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="NewCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 42px;" tabindex="0" width="30">New<br/>Cases</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="TotalDeaths: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">Total<br/>Deaths</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="NewDeaths: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">New<br/>Deaths</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="TotalRecovered: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 73px;" tabindex="0" width="30">Total<br/>Recovered</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="ActiveCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">Active<br/>Cases</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="Serious,Critical: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 56px;" tabindex="0" width="30">Serious,<br/>Critical</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="Tot&amp;nbsp;Cases/1M pop: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 70px;" tabindex="0" width="30">Tot Cases/<br/>1M pop</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="Deaths/1M pop: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 51px;" tabindex="0" width="30">Deaths/<br/>1M pop</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="TotalTests: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">Total<br/>Tests</th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="Tests/
 1M pop
 : activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 49px;" tabindex="0" width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>,
 <th aria-controls="main_table_countries_yesterday" aria-label="Continent: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="display: none; width: 0px;" tabindex="0" width="30">Continent</th>]

> Observing a `br` element in the middile of each header

In [16]:
for header in Covid_headers:
    header.br.decompose()
    print(header)

<th aria-controls="main_table_countries_yesterday" aria-label="Country,Other: activate to sort column descending" aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" style="width: 101px;" tabindex="0" width="100">Country,Other</th>
<th aria-controls="main_table_countries_yesterday" aria-label="TotalCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="20">TotalCases</th>
<th aria-controls="main_table_countries_yesterday" aria-label="NewCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 42px;" tabindex="0" width="30">NewCases</th>
<th aria-controls="main_table_countries_yesterday" aria-label="TotalDeaths: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">TotalDeaths</th>
<th aria-controls="main_table_countries_yesterday" aria-label="NewDeaths: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">NewDeaths</th>
<th aria-controls="main_table_countries_yesterday" aria-label="TotalRecovered: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 73px;" tabindex="0" width="30">TotalRecovered</th>
<th aria-controls="main_table_countries_yesterday" aria-label="ActiveCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">ActiveCases</th>
<th aria-controls="main_table_countries_yesterday" aria-label="Serious,Critical: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 56px;" tabindex="0" width="30">Serious,Critical</th>
<th aria-controls="main_table_countries_yesterday" aria-label="Tot&amp;nbsp;Cases/1M pop: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 70px;" tabindex="0" width="30">Tot Cases/1M pop</th>
<th aria-controls="main_table_countries_yesterday" aria-label="Deaths/1M pop: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 51px;" tabindex="0" width="30">Deaths/1M pop</th>
<th aria-controls="main_table_countries_yesterday" aria-label="TotalTests: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">TotalTests</th>
<th aria-controls="main_table_countries_yesterday" aria-label="Tests/
1M pop
: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 49px;" tabindex="0" width="30">Tests/
<nobr>1M pop</nobr>
</th>

AttributeError: 'NoneType' object has no attribute 'decompose'

In [17]:
HL =[]
for header in Covid_headers:
    HL.append(header.text)
HL

['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop\n',
 'Continent']

> Good we made it, But the names must be so clear enouph, removing the mistakes

In [18]:
def remove_mis(word):
    return str(word).replace(',','').replace('Other','').replace('\xa0','').replace('/','_').replace('\n','')
HL = list(map(remove_mis, HL))
HL

['Country',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'SeriousCritical',
 'TotCases_1M pop',
 'Deaths_1M pop',
 'TotalTests',
 'Tests_1M pop',
 'Continent']

## Scrap the Body of the table

In [19]:
Covid_body = HtmlTable.tbody.find_all('tr')
Covid_body[0]

<tr class="total_row_world row_continent odd" data-continent="" role="row" style="display: none">
<td class="sorting_1" style="text-align:left;">
<nobr></nobr>
</td>
<td class="">721</td>
<td></td>
<td>13</td>
<td></td>
<td>619</td>
<td>89</td>
<td>10</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
</tr>

> We need a List of Lists to apply all the body

In [20]:
BL =[[]]
i=0
for trow in Covid_body:
    x = []
    for tdata in trow.find_all('td'):
        x.append(tdata.text)
    i = i+1
    BL.append(x)

In [24]:
BL[1]

['\n\n', '721', '', '13', '', '619', '89', '10', '', '', '', '', '']

In [75]:
BL[0]

[]

In [25]:
BL.remove([]) 
BL[0]

['\n\n', '721', '', '13', '', '619', '89', '10', '', '', '', '', '']

> Good Let's save it as CSV file
- But first we need columns to save not rows

In [26]:
table = {}
BC =[[]]
for col in range(len(HL)):
    BC.append([])
    for row in BL:
        BC[col].append(row[col])

## We just need some of prints

In [27]:
print(BC[0])
print('\n')
print(len(BC[0]))
print(BC[1])
print('\n')
print(len(BC[1]))

['\n\n', 'Afghanistan', '\nAfrica\n', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', '\nAsia\n', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei ', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'CAR', 'Caribbean Netherlands', 'Cayman Islands', 'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia', 'Denmark', 'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic', 'DRC', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', '\nEurope\n', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'MS Zaandam', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', '\nNorth America\n', 'North Macedonia', 'Norway', '\nOceania\n', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Réunion', 'S. Korea', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin', 'Saint Pierre Miquelon', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', '\nSouth America\n', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Barth', 'St. Vincent Grenadines', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turks and Caicos', 'UAE', 'Uganda', 'UK', 'Ukraine', 'Uruguay', 'USA', 'Uzbekistan', 'Vatican City', 'Venezuela', 'Vietnam', 'Western Sahara', 'World', 'Zambia', 'Zimbabwe']


219
['721', '444', '11,986', '400', '1,572', '564', '19', '3', '19', '1,795', '881', '77', '253,309', '6,052', '12,942', '822', '40', '823', '218', '63', '1,066', '23,403', '8', '26', '39', '5', '210', '804', '6', '16,188', '3', '135', '593', '414', '3', '7', '117', '730', '19,438', '8', '2', '45', '10', '351', '5,546', '81,802', '2,054', '45', '502', '1,343', '457', '14', '526', '5,312', '5,402', '712', '135', '15', '2,111', '180', '4,450', '1,560', '93', '18', '33', '1,185', '12', '55', '744,916', '184', '5', '15', '2,487', '112,950', '83', '51', '34', '4', '211', '113,296', '313', '120', '1,884', '11', '12', '141', '87', '164', '33', '37', '27', '312', '961', '895', '1,616', '5,916', '2,956', '64,586', '1,202', '6,074', '158', '9,404', '139,422', '384', '63', '4,667', '358', '727', '179', '855', '270', '15', '577', '576', '31', '21', '78', '912', '3,034', '45', '93', '8', '4,119', '19', '59', '299', '154', '6', '273', '184', '2,785', '1,174', '81', '16', '248', '9', '1,275', '17', '9', '22', '16', '9', '20,549', '18', '1,210', '6', '342', '276', '464,218', '617', '6,042', '7,348', '419', '4,263', '263', '2,528', '2', '119', '4,342', '3,870', '5,205', '13,141', '2,210', '4,761', '8,672', '110', '362', '10,384', '11', '14', '32', '1', '308', '4', '2,932', '244', '2,666', '11', '7', '1,623', '40', '682', '1,091', '12', '1,845', '35,462', '2', '148,220', '189', '6', '8', '14', '10', '8,419', '23,280', '19', '379', '25', '2,369', '1', '70', '107', '628', '38,226', '8', '2,659', '53', '60,733', '1,668', '456', '434,927', '545', '8', '167', '251', '4', '1,517,960', '39', '11']


219

> creating the Dictionary

In [28]:
CovidTuple = []
for col in range(len(HL)):
    x =(HL[col] ,BC[col])
    CovidTuple.append(x)

In [29]:
CovidT = dict(CovidTuple)

In [30]:
CovidT['Country']

['\n\n',
 'Afghanistan',
 '\nAfrica\n',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 '\nAsia\n',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei ',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'CAR',
 'Caribbean Netherlands',
 'Cayman Islands',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'DRC',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 '\nEurope\n',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'MS Zaandam',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 '\nNorth America\n',
 'North Macedonia',
 'Norway',
 '\nOceania\n',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Réunion',
 'S. Korea',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre Miquelon',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 '\nSouth America\n',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Barth',
 'St. Vincent Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turks and Caicos',
 'UAE',
 'Uganda',
 'UK',
 'Ukraine',
 'Uruguay',
 'USA',
 'Uzbekistan',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'Western Sahara',
 'World',
 'Zambia',
 'Zimbabwe']

## amazing so work no let's craete the dataframe

In [31]:
CovidDF = pd.DataFrame(CovidT , columns= HL)

In [32]:
CovidDF

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,SeriousCritical,TotCases_1M pop,Deaths_1M pop,TotalTests,Tests_1M pop,Continent
0,\n\n,721,,13,,619,89,10,,,,,
1,Afghanistan,444,+21,14,,29,401,,11,0.4,,,Asia
2,\nAfrica\n,"11,986",+794,576,+41,"1,467","9,943",142,,,,,Africa
3,Albania,400,+17,22,,154,224,7,139,8,"2,989","1,039",Europe
4,Algeria,"1,572",+104,205,+12,237,"1,130",46,36,5,"3,359",77,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Vietnam,251,,,,126,125,8,3,,"110,124","1,131",Asia
215,Western Sahara,4,,,,,4,,7,,,,Africa
216,World,"1,517,960","+84,384","88,455","+6,414","330,266","1,099,239","48,092",195,11.3,,,All
217,Zambia,39,,1,,7,31,1,2,0.05,"1,239",67,Africa
218,Zimbabwe,11,,3,+1,,8,,0.7,0.2,371,25,Africa

In [100]:
name = str(time.ctime()).replace(' ', '').replace(':','_') +'.csv'
CovidDF.to_csv(name)

In [33]:
name = '8_4_2020Covid19.csv'
CovidDF.to_csv(name)