# In The Name Of ALLAH 
- Scrapping The Datatable of https://www.worldometers.info/coronavirus/

## Imports 
- Selenium to get the website content by web driver
- BeutifulSoup to scrap the data from the Html content
- time to simulate in specific time {Showing Us before its implement}
- Pandas to save the data scrapped as a CSV

In [2]:
# selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
#bs
from bs4 import BeautifulSoup
from bs4 import element
# time
import time
# Pandas
import pandas as pd

## Creating The Driver and adding the Browser driver options

In [3]:
# Options 
#Options = webdriver.ChromeOptions()
#Options.add_argument('--ignore-certificate-error')
#Options.add_argument('--incognitio')
#Options.add_argument('--headless')
#driver = webdriver.Chrome(options= Options)
chromeOption = Options()
#chromeOption.add_argument('--kiosk')
driver = webdriver.Chrome(options= chromeOption)

# Open the Site to Scrap it

In [6]:

driver.get('https://www.worldometers.info/coronavirus/')

## Getting the Table Content

In [8]:
PGsrc = driver.page_source
PageSrc = BeautifulSoup( PGsrc , "lxml")
HtmlTable =PageSrc.find(id ='main_table_countries_today')

In [10]:
# HtmlTable.prettify() show the content of TableHtml

## Scrapping The Thead to get the attributes names
- Getting table headers as list
- trying to extract the strings from them

In [15]:

Covid_headers = HtmlTable.thead.find_all('th')
Covid_headers

[<th aria-controls="main_table_countries_today" aria-label="Country,Other: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 101px;" tabindex="0" width="100">Country,<br/>Other</th>,
 <th aria-controls="main_table_countries_today" aria-label="TotalCases: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="20">Total<br/>Cases</th>,
 <th aria-controls="main_table_countries_today" aria-label="NewCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 42px;" tabindex="0" width="30">New<br/>Cases</th>,
 <th aria-controls="main_table_countries_today" aria-label="TotalDeaths: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">Total<br/>Deaths</th>,
 <th aria-controls="main_table_countries_today" aria-label="NewDeaths: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">New<br/>Deaths</th>,
 <th aria-controls="main_table_countries_today" aria-label="TotalRecovered: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 73px;" tabindex="0" width="30">Total<br/>Recovered</th>,
 <th aria-controls="main_table_countries_today" aria-label="ActiveCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">Active<br/>Cases</th>,
 <th aria-controls="main_table_countries_today" aria-label="Serious,Critical: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 56px;" tabindex="0" width="30">Serious,<br/>Critical</th>,
 <th aria-controls="main_table_countries_today" aria-label="Tot&amp;nbsp;Cases/1M pop: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 70px;" tabindex="0" width="30">Tot Cases/<br/>1M pop</th>,
 <th aria-controls="main_table_countries_today" aria-label="Deaths/1M pop: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 51px;" tabindex="0" width="30">Deaths/<br/>1M pop</th>,
 <th aria-controls="main_table_countries_today" aria-label="TotalTests: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">Total<br/>Tests</th>,
 <th aria-controls="main_table_countries_today" aria-label="Tests/
 1M pop
 : activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 50px;" tabindex="0" width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>]

> Observing a `br` element in the middile of each header

In [16]:
for header in Covid_headers:
    header.br.decompose()
    print(header)

<th aria-controls="main_table_countries_today" aria-label="Country,Other: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 101px;" tabindex="0" width="100">Country,Other</th>
<th aria-controls="main_table_countries_today" aria-label="TotalCases: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="20">TotalCases</th>
<th aria-controls="main_table_countries_today" aria-label="NewCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 42px;" tabindex="0" width="30">NewCases</th>
<th aria-controls="main_table_countries_today" aria-label="TotalDeaths: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">TotalDeaths</th>
<th aria-controls="main_table_countries_today" aria-label="NewDeaths: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">NewDeaths</th>
<th aria-controls="main_table_countries_today" aria-label="TotalRecovered: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 73px;" tabindex="0" width="30">TotalRecovered</th>
<th aria-controls="main_table_countries_today" aria-label="ActiveCases: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">ActiveCases</th>
<th aria-controls="main_table_countries_today" aria-label="Serious,Critical: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 56px;" tabindex="0" width="30">Serious,Critical</th>
<th aria-controls="main_table_countries_today" aria-label="Tot&amp;nbsp;Cases/1M pop: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 70px;" tabindex="0" width="30">Tot Cases/1M pop</th>
<th aria-controls="main_table_countries_today" aria-label="Deaths/1M pop: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 51px;" tabindex="0" width="30">Deaths/1M pop</th>
<th aria-controls="main_table_countries_today" aria-label="TotalTests: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 48px;" tabindex="0" width="30">TotalTests</th>
<th aria-controls="main_table_countries_today" aria-label="Tests/
1M pop
: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 50px;" tabindex="0" width="30">Tests/
<nobr>1M pop</nobr>
</th>

In [29]:
HL =[]
for header in Covid_headers:
    HL.append(header.text)
HL

['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop\n']

> Good we made it, But the names must be so clear enouph, removing the mistakes

In [38]:
def remove_mis(word):
    return str(word).replace(',','').replace('Other','').replace('\xa0','').replace('/','_').replace('\n','')
HL = list(map(remove_mis, HL))
HL

['Country',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'SeriousCritical',
 'TotCases_1M pop',
 'Deaths_1M pop',
 'TotalTests',
 'Tests_1M pop']

## Scrap the Body of the table

In [42]:
Covid_body = HtmlTable.tbody.find_all('tr')
Covid_body[1]

<tr class="even" role="row" style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td class="sorting_1" style="font-weight: bold; text-align:right">394,587</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+27,583</td>
<td style="font-weight: bold; text-align:right;">12,748 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1,877</td>
<td style="font-weight: bold; text-align:right">21,674</td>
<td style="text-align:right;font-weight:bold;">360,165</td>
<td style="font-weight: bold; text-align:right">9,169</td>
<td style="font-weight: bold; text-align:right">1,192</td>
<td style="font-weight: bold; text-align:right">39</td>
<td style="font-weight: bold; text-align:right">2,062,831</td>
<td style="font-weight: bold; text-align:right">6,232</td>
</tr>

> We need a List of Lists to apply all the body

In [68]:
BL =[[]]
i=0
for trow in Covid_body:
    x = []
    for tdata in trow.find_all('td'):
        x.append(tdata.text)
    i = i+1
    BL.append(x)

In [73]:
BL[2]

['USA',
 '394,587',
 '+27,583',
 '12,748 ',
 '+1,877',
 '21,674',
 '360,165',
 '9,169',
 '1,192',
 '39',
 '2,062,831',
 '6,232']

In [75]:
BL[0]

[]

In [79]:
#BL.remove([]) 
BL[0]

['World',
 '1,424,124',
 '+78,088',
 '81,889',
 '+7,235',
 '301,731',
 '1,040,504',
 '47,912',
 '183',
 '10.5',
 '',
 '']

> Good Let's save it as CSV file
- But first we need columns to save not rows

In [81]:
table = {}
BC =[[]]
for col in range(len(HL)):
    BC.append([])
    for row in BL:
        BC[col].append(row[col])

212

## We just need some of prints

In [83]:
print(BC[0])
print('\n')
print(len(BC[0]))
print(BC[1])
print('\n')
print(len(BC[1]))

['World', 'USA', 'Spain', 'Italy', 'France', 'Germany', 'China', 'Iran', 'UK', 'Turkey', 'Switzerland', 'Belgium', 'Netherlands', 'Canada', 'Brazil', 'Austria', 'Portugal', 'S. Korea', 'Israel', 'Sweden', 'Russia', 'Norway', 'Australia', 'Ireland', 'India', 'Chile', 'Denmark', 'Czechia', 'Poland', 'Romania', 'Pakistan', 'Malaysia', 'Japan', 'Philippines', 'Ecuador', 'Luxembourg', 'Peru', 'Saudi Arabia', 'Indonesia', 'Serbia', 'Mexico', 'UAE', 'Finland', 'Thailand', 'Panama', 'Qatar', 'Dominican Republic', 'Greece', 'Colombia', 'South Africa', 'Argentina', 'Iceland', 'Singapore', 'Algeria', 'Ukraine', 'Egypt', 'Croatia', 'Morocco', 'New Zealand', 'Estonia', 'Iraq', 'Slovenia', 'Moldova', 'Hong Kong', 'Lithuania', 'Belarus', 'Armenia', 'Hungary', 'Bahrain', 'Bosnia and Herzegovina', 'Kuwait', 'Azerbaijan', 'Diamond Princess', 'Kazakhstan', 'Cameroon', 'Tunisia', 'North Macedonia', 'Slovakia', 'Bulgaria', 'Lebanon', 'Latvia', 'Andorra', 'Uzbekistan', 'Cyprus', 'Costa Rica', 'Afghanistan', 'Uruguay', 'Cuba', 'Burkina Faso', 'Albania', 'Taiwan', 'Oman', 'Jordan', 'Ivory Coast', 'Réunion', 'Channel Islands', 'Honduras', 'Malta', 'Ghana', 'Niger', 'San Marino', 'Mauritius', 'Palestine', 'Nigeria', 'Vietnam', 'Montenegro', 'Senegal', 'Kyrgyzstan', 'Georgia', 'Bolivia', 'Sri Lanka', 'Faeroe Islands', 'DRC', 'Kenya', 'Venezuela', 'Bangladesh', 'Mayotte', 'Martinique', 'Isle of Man', 'Guinea', 'Guadeloupe', 'Brunei ', 'Paraguay', 'Cambodia', 'Gibraltar', 'Trinidad and Tobago', 'Rwanda', 'Djibouti', 'Madagascar', 'Monaco', 'El Salvador', 'Liechtenstein', 'Guatemala', 'Aruba', 'French Guiana', 'Togo', 'Barbados', 'Jamaica', 'Mali', 'Ethiopia', 'Uganda', 'French Polynesia', 'Congo', 'Cayman Islands', 'Macao', 'Sint Maarten', 'Bermuda', 'Zambia', 'Bahamas', 'Guyana', 'Guinea-Bissau', 'Saint Martin', 'Eritrea', 'Gabon', 'Benin', 'Haiti', 'Tanzania', 'Myanmar', 'Libya', 'Syria', 'Antigua and Barbuda', 'Maldives', 'New Caledonia', 'Angola', 'Equatorial Guinea', 'Namibia', 'Dominica', 'Fiji', 'Mongolia', 'Liberia', 'Sudan', 'Laos', 'Saint Lucia', 'Curaçao', 'Grenada', 'Zimbabwe', 'Greenland', 'Saint Kitts and Nevis', 'Seychelles', 'Suriname', 'Chad', 'Mozambique', 'Eswatini', 'MS Zaandam', 'Nepal', 'Montserrat', 'Malawi', 'Turks and Caicos', 'CAR', 'St. Vincent Grenadines', 'Somalia', 'Belize', 'Cabo Verde', 'Vatican City', 'Botswana', 'Mauritania', 'Nicaragua', 'St. Barth', 'Sierra Leone', 'Bhutan', 'Gambia', 'Sao Tome and Principe', 'Western Sahara', 'Anguilla', 'British Virgin Islands', 'Burundi', 'Caribbean Netherlands', 'Falkland Islands', 'Papua New Guinea', 'South Sudan', 'Saint Pierre Miquelon', 'Timor-Leste']


212
['1,424,124', '394,587', '141,942', '135,586', '109,069', '107,663', '81,740', '62,589', '55,242', '34,109', '22,253', '22,194', '19,580', '17,872', '14,018', '12,639', '12,442', '10,331', '9,248', '7,693', '7,497', '5,953', '5,919', '5,709', '5,311', '5,116', '5,071', '5,017', '4,848', '4,417', '4,035', '3,963', '3,906', '3,764', '3,747', '2,970', '2,954', '2,795', '2,738', '2,447', '2,439', '2,359', '2,308', '2,258', '2,100', '2,057', '1,956', '1,832', '1,780', '1,749', '1,628', '1,586', '1,481', '1,468', '1,462', '1,450', '1,282', '1,184', '1,160', '1,149', '1,122', '1,059', '1,056', '936', '880', '861', '853', '817', '811', '764', '743', '717', '712', '697', '658', '623', '599', '581', '577', '548', '548', '545', '504', '494', '483', '423', '415', '396', '384', '383', '376', '371', '353', '349', '349', '335', '305', '293', '287', '278', '277', '268', '261', '254', '249', '241', '237', '228', '196', '194', '185', '184', '180', '172', '165', '164', '164', '152', '150', '144', '139', '135', '115', '115', '113', '107', '105', '90', '88', '79', '78', '78', '77', '74', '72', '65', '63', '63', '56', '52', '52', '47', '45', '45', '44', '40', '39', '39', '33', '33', '33', '32', '31', '30', '26', '25', '24', '22', '20', '19', '19', '19', '18', '17', '16', '16', '15', '15', '15', '14', '14', '14', '14', '13', '12', '11', '11', '11', '11', '10', '10', '10', '10', '9', '9', '9', '8', '8', '8', '8', '8', '7', '7', '7', '6', '6', '6', '6', '6', '5', '4', '4', '4', '3', '3', '3', '2', '2', '2', '2', '1', '1']


212

> creating the Dictionary

In [84]:
CovidTuple = []
for col in range(len(HL)):
    x =(HL[col] ,BC[col])
    CovidTuple.append(x)

In [86]:
CovidT = dict(CovidTuple)

In [91]:
CovidT['Country']

['World',
 'USA',
 'Spain',
 'Italy',
 'France',
 'Germany',
 'China',
 'Iran',
 'UK',
 'Turkey',
 'Switzerland',
 'Belgium',
 'Netherlands',
 'Canada',
 'Brazil',
 'Austria',
 'Portugal',
 'S. Korea',
 'Israel',
 'Sweden',
 'Russia',
 'Norway',
 'Australia',
 'Ireland',
 'India',
 'Chile',
 'Denmark',
 'Czechia',
 'Poland',
 'Romania',
 'Pakistan',
 'Malaysia',
 'Japan',
 'Philippines',
 'Ecuador',
 'Luxembourg',
 'Peru',
 'Saudi Arabia',
 'Indonesia',
 'Serbia',
 'Mexico',
 'UAE',
 'Finland',
 'Thailand',
 'Panama',
 'Qatar',
 'Dominican Republic',
 'Greece',
 'Colombia',
 'South Africa',
 'Argentina',
 'Iceland',
 'Singapore',
 'Algeria',
 'Ukraine',
 'Egypt',
 'Croatia',
 'Morocco',
 'New Zealand',
 'Estonia',
 'Iraq',
 'Slovenia',
 'Moldova',
 'Hong Kong',
 'Lithuania',
 'Belarus',
 'Armenia',
 'Hungary',
 'Bahrain',
 'Bosnia and Herzegovina',
 'Kuwait',
 'Azerbaijan',
 'Diamond Princess',
 'Kazakhstan',
 'Cameroon',
 'Tunisia',
 'North Macedonia',
 'Slovakia',
 'Bulgaria',
 'Lebanon',
 'Latvia',
 'Andorra',
 'Uzbekistan',
 'Cyprus',
 'Costa Rica',
 'Afghanistan',
 'Uruguay',
 'Cuba',
 'Burkina Faso',
 'Albania',
 'Taiwan',
 'Oman',
 'Jordan',
 'Ivory Coast',
 'Réunion',
 'Channel Islands',
 'Honduras',
 'Malta',
 'Ghana',
 'Niger',
 'San Marino',
 'Mauritius',
 'Palestine',
 'Nigeria',
 'Vietnam',
 'Montenegro',
 'Senegal',
 'Kyrgyzstan',
 'Georgia',
 'Bolivia',
 'Sri Lanka',
 'Faeroe Islands',
 'DRC',
 'Kenya',
 'Venezuela',
 'Bangladesh',
 'Mayotte',
 'Martinique',
 'Isle of Man',
 'Guinea',
 'Guadeloupe',
 'Brunei ',
 'Paraguay',
 'Cambodia',
 'Gibraltar',
 'Trinidad and Tobago',
 'Rwanda',
 'Djibouti',
 'Madagascar',
 'Monaco',
 'El Salvador',
 'Liechtenstein',
 'Guatemala',
 'Aruba',
 'French Guiana',
 'Togo',
 'Barbados',
 'Jamaica',
 'Mali',
 'Ethiopia',
 'Uganda',
 'French Polynesia',
 'Congo',
 'Cayman Islands',
 'Macao',
 'Sint Maarten',
 'Bermuda',
 'Zambia',
 'Bahamas',
 'Guyana',
 'Guinea-Bissau',
 'Saint Martin',
 'Eritrea',
 'Gabon',
 'Benin',
 'Haiti',
 'Tanzania',
 'Myanmar',
 'Libya',
 'Syria',
 'Antigua and Barbuda',
 'Maldives',
 'New Caledonia',
 'Angola',
 'Equatorial Guinea',
 'Namibia',
 'Dominica',
 'Fiji',
 'Mongolia',
 'Liberia',
 'Sudan',
 'Laos',
 'Saint Lucia',
 'Curaçao',
 'Grenada',
 'Zimbabwe',
 'Greenland',
 'Saint Kitts and Nevis',
 'Seychelles',
 'Suriname',
 'Chad',
 'Mozambique',
 'Eswatini',
 'MS Zaandam',
 'Nepal',
 'Montserrat',
 'Malawi',
 'Turks and Caicos',
 'CAR',
 'St. Vincent Grenadines',
 'Somalia',
 'Belize',
 'Cabo Verde',
 'Vatican City',
 'Botswana',
 'Mauritania',
 'Nicaragua',
 'St. Barth',
 'Sierra Leone',
 'Bhutan',
 'Gambia',
 'Sao Tome and Principe',
 'Western Sahara',
 'Anguilla',
 'British Virgin Islands',
 'Burundi',
 'Caribbean Netherlands',
 'Falkland Islands',
 'Papua New Guinea',
 'South Sudan',
 'Saint Pierre Miquelon',
 'Timor-Leste']

## amazing so work no let's craete the dataframe

In [93]:
CovidDF = pd.DataFrame(CovidT , columns= HL)

In [94]:
CovidDF

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,SeriousCritical,TotCases_1M pop,Deaths_1M pop,TotalTests,Tests_1M pop
0,World,"1,424,124","+78,088","81,889","+7,235","301,731","1,040,504","47,912",183,10.5,,
1,USA,"394,587","+27,583","12,748","+1,877","21,674","360,165","9,169","1,192",39,"2,062,831","6,232"
2,Spain,"141,942","+5,267","14,045",+704,"43,208","84,689","7,069","3,036",300,"355,000","7,593"
3,Italy,"135,586","+3,039","17,127",+604,"24,392","94,067","3,792","2,243",283,"755,445","12,495"
4,France,"109,069","+11,059","10,328","+1,417","19,337","79,404","7,131","1,671",158,"224,254","3,436"
...,...,...,...,...,...,...,...,...,...,...,...,...
207,Falkland Islands,2,,,,,2,,575,,,
208,Papua New Guinea,2,,,,,2,,0.2,,72,8
209,South Sudan,2,+1,,,,2,,0.2,,,
210,Saint Pierre Miquelon,1,,,,,1,,173,,,
211,Timor-Leste,1,,,,,1,,0.8,,,

In [100]:
name = str(time.ctime()).replace(' ', '').replace(':','_') +'.csv'
CovidDF.to_csv(name)