# Frequent Pattern Study
## Litratures 

|Name|Source|
|:-|:-|
|Frequent Pattern Mining Charu C. Aggarwal, Jiawei Han | [![](../Litrature_Reviews/freq.PNG)]() |
|Frequent Itemsets via Apriori Algorithm|[Github User Guide for mlxtend](http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/)|

## Frequent Pattern using Apriori Algorithm

### Apriori function : 
- is an algorithm for frequent item set mining and association rule learning over relational databases.
- It proceeds by identifying the frequent individual items in the database and extending them to larger and larger item sets as long as those item sets appear sufficiently often in the database.

# Example 1 -- Generating Frequent Itemsets

The apriori function expects data in a `one-hot` encoded pandas DataFrame. Suppose we have the following transaction data:

In [1]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

- We can transform it into the right format via the TransactionEncoder as follows:

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [3]:
te = TransactionEncoder()
# The fit method is to learn what is the item to transaction
# the transform method is to Transform transactions into a one-hot encoded NumPy array.
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

TransactionEncoder()
[[False False False  True False  True  True  True  True False  True]
 [False False  True  True False  True False  True  True False  True]
 [ True False False  True False  True  True False False False False]
 [False  True False False False  True  True False False  True  True]
 [False  True False  True  True  True False False  True False False]]

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

- Imagine that we need the min-support for transactions that fit 60%
- apriori function Get frequent itemsets from a one-hot DataFrame

In [5]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.6 , use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Kidney Beans, Eggs, Onion)

-  that means `Eggs` is frequently 80% repeated in all transactions and `Beans` is the Most frequent item with 100%

# Frequent Itemsets via the FP-Growth Algorithm

In [6]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Kidney Beans, Eggs)
6       0.6       (Yogurt, Kidney Beans)
7       0.6                (Eggs, Onion)
8       0.6        (Kidney Beans, Onion)
9       0.6  (Kidney Beans, Eggs, Onion)
10      0.6         (Milk, Kidney Beans)

In [7]:
%timeit -n 100 -r 10 apriori(df, min_support=0.6)

7.55 ms ± 1.31 ms per loop (mean ± std. dev. of 10 runs, 100 loops each)

In [8]:
%timeit -n 100 -r 10 fpgrowth(df, min_support=0.6)

3.36 ms ± 681 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)