In [1]:
Name="Michael Jackson"

In [2]:
Name.find('el')

5

In [3]:
F="You are wrong"
F.upper()

'YOU ARE WRONG'

In [5]:
tuple1=("A","B","C" )
tuple1[-1]

'C'

In [6]:
A=((11,12),[21,22])

In [7]:
A[1]

[21, 22]

In [8]:
A[0][1]

12

In [9]:
a=set(A)

TypeError: unhashable type: 'list'

In [11]:
a =A.dict()

AttributeError: 'tuple' object has no attribute 'dict'

In [12]:
a = A.dict()

AttributeError: 'tuple' object has no attribute 'dict'

In [13]:
A = [1,2,4]

In [14]:
a = (1,3,4)

In [15]:
a = set(A)

In [16]:
v= {'A', 'B'}

In [19]:
v.add('C')

In [20]:
v

{'A', 'B', 'C'}

In [22]:
x="Go"

if(x!="Go"):

    print('Stop')

else:

    print('Go ')

    print('Mike')

Go
Mike

In [23]:
name = 'Lizz'
name[0:2]

'Li'

In [24]:
var = '01234567'
var[::2]

'0246'

In [25]:
import numpy as np

In [26]:
a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

0